<section class="py-16 px-4 w-full min-h-screen text-gray-100" id="about">
    <!-- Información sobre mí -->
    <div class="max-w-3xl mx-auto mb-12 text-center">
        <h2 class="text-3xl font-bold mb-4 text-purple-300">Sobre mí</h2>
        <p class="text-lg">
            Apasionado por el backend y siempre listo para aprender. Me emociona
            crear sistemas eficientes y explorar nuevas tecnologías.
        </p>
    </div>

    <!-- Tecnologías que utilizo (estilo bento) -->
    <div class="max-w-4xl mx-auto">
        <h3 class="text-2xl font-semibold mb-6 text-center text-purple-300">
            Tecnologías que utilizo
        </h3>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <!-- Lenguajes de Programación -->
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                    alt="JavaScript"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">JavaScript</span>
            </div>

            <!-- Frameworks -->
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
                    alt="React"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">React</span>
            </div>
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original.svg"
                    alt="Spring"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">C# - .Net</span>
            </div>
            <!-- Bases de Datos -->
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
                    alt="Oracle Db"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">PostgreSQL</span>
            </div>

            <!-- DevOps Tools -->
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                    alt="GitHub"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">GitHub</span>
            </div>
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                    alt="Git"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">Git</span>
            </div>
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
                    alt="Docker"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">Docker</span>
            </div>
            <div
                class="bg-purple-900 bg-opacity-50 p-4 rounded-lg shadow-md flex flex-col items-center justify-center border border-purple-700 hover:bg-purple-800 transition-colors duration-300"
            >
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg"
                    alt="Kubernetes"
                    class="w-16 h-16 mb-2"
                />
                <span class="text-sm font-medium">Kubernetes</span>
            </div>
        </div>
    </div>
</section>
